<!DOCTYPE html>
<html lang="en">
<head>

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Starter Template - Materialize</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Software Testing</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">Ervin James Villegas</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">Ervin James Villegas</li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center orange-text">WELCOME TO Software Testing REGISTRY SYSTEM</h1>
      <div class="row center">
        <h5 class="header col s12 light">University of the Immaculate Conception</h5>
      </div>
      <div class="row center">
        <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light orange">REGISTRY FORM BELOW</a>
      </div>
      <br><br>

    </div>
  </div>


  <!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Document</title>
</head>

<body>
<div>
USERNAME:
<input type="text" id="txtName">
ID:
<input type="text" id="txtID">
EMAIL:
<input type="text" id="txtemail">
PASSWORD: 
<input type="text" id="txtpassword">
<div/>
<button onclick="addName()"> Add to Local Storage</button>
<table border="1">
<thead>


<tr>
<th>Profile</th>
<th>Usernames</th>
<th>Gender</th>
<th>ID</th>
<th>email</th>
<th>password</th>


</tr>
</thead>

<tbody id="tblNames">

</tbody>

</table>

<script>
sample1();
function sample1(){
let msg = "Hello World";
console.log(msg)
localStorage.setItem('msg', 'Hello');
sessionStorage.setItem('msg', 'World');

let str1 = localStorage.getItem('msg');
let str2 = sessionStorage.getItem('msg');
let str3 = str1 + str2;
console.log(str3);

//localStorage.removeItem('msg');
localStorage.clear();
sessionStorage.clear();
}




function addName1() {
 let name = document.querySelector('#txtName').value;
 let ID = document.querySelector('#txtID').value;
 let email = document.querySelector('#txtemail').value;

 console.log(name);
 localStorage.setItem('name', name);
 sessionStorage.setItem('name', name);
 localStorage.setItem('ID', ID);
 sessionStorage.setItem('ID', ID);
 localStorage.setItem('email', email);
 sessionStorage.setItem('email', email);
 }

let names = ['Clyde', 'Chester'];
function addName2() {
let name = document.querySelector('#txtName').value;
let ID = document.querySelector('#txtID').value;
let email = document.querySelector('#txtemail').value;
names.push(name);
ID.push(ID);
localStorage.setItem('names', names);
localStorage.setItem('ID',ID);
localStorage.setItem('email',email);
let Isemail= localStorage.getItem('email');
let listOfemail =Isemail('');
let IsID= localStorage.getItem('ID');
let listOfId =IsID('');
let lsNames = localStorage.getItem('names');
let listOfNames = lsNames.split(',');
console.log(listOfNames[0]);
console.log(listOfId[0]);

 }

let json_names = [{
name: "Ervin James Villegas",
gender: "M",
ID:"45666",
email: "ervinjamesvillegas@gmail.com",
password:"*******"

},{
name: "Chester Clyde Balaman",
gender: "M",
ID:"45566",
email:"chester@yahoo.com",
password:"*******"
},{
name: "Johanna Marie Jocson",
gender: "M",
ID:"45696",
email:"johanna@gmail.com",
password:"*******"
}]  ;




 function addName() {
 let name = document.querySelector('#txtName').value;
 let ID = document.querySelector('#txtID').value;
 let email= document.querySelector('#txtemail').value;
 let password = document.querySelector('#txtpassword').value;
 let newName = {
  

  name : name,
  gender: "M",
  ID : ID,
  email : email ,
  password : password

 };
 json_names.push(newName);



 
console.log(json_names);
let jns = JSON.stringify(json_names);
localStorage.setItem('json_names', jns);

let jns_retrieve = JSON.parse(localStorage.getItem('json_names'));
console.log(jns_retrieve);

console.log("Name is " + jns_retrieve[0].name);
console.log("Gender is " + jns_retrieve[0].gender);
console.log("ID is"+ jns_retrieve[0].ID);
console.log("email is"+ jns_retrieve[0].email);
console.log("password is" + jns_retrieve[0].password);

// let html = `
 //            <tr>
// <td>${
// jns_retrieve[0].name
// }</td>
// <td>${
// jns_retrieve[0].gender
// }</td>
// </tr>
//  <tr>
// <td>${
// jns_retrieve[1].name
// }</td>
// <td>${
// jns_retrieve[0].gender
// }</td>
// </tr>
// `;

let html = ``;
jns_retrieve.map((name)=>{
  /*console.log(name.name);
  console.log(name.gender);
  console.log("---------");*/
html +=` 
<tr>
  <td><img src="http://www.fgs.lt/images/avatars/tbhbhe2-200x200[1842].jpg"/></td>
  <td>${name.name}</td>
  <td>${name.gender}</td>
  <td>${name.ID}</td>
  <td>${name.email}</td>
  <td>${name.password}</td>
</tr>
`;



});

/*for (let i=0; i<jns_retrieve.length;i++){
  console.log(jns_retrieve[i].name);
    console.log(jns_retrieve[i].gender);
      console.log("********");



}*/

document.querySelector('#tblNames').innerHTML = html;
 }

</script>
</body>
</html>

  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">flash_on</i></h2>
            <h5 class="center">Speeds up development</h5>

            <p class="light">We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components. Additionally, we refined animations and transitions to provide a smoother experience for developers.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
            <h5 class="center">User Experience Focused</h5>

            <p class="light">By utilizing elements and principles of Material Design, we were able to create a framework that incorporates components and animations that provide more feedback to users. Additionally, a single underlying responsive system across all platforms allow for a more unified user experience.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">settings</i></h2>
            <h5 class="center">Easy to work with</h5>

            <p class="light">We have provided detailed documentation as well as specific code examples to help new users get started. We are also always open to feedback and can answer any questions a user may have about Materialize.</p>
          </div>
        </div>
      </div>

    </div>
    <br><br>
  </div>

  <footer class="page-footer orange">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">UNIVERSITY OF THE IMMACULATE CONCEPTION</h5>
          <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>

    
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="orange-text text-lighten-3" href="http://materializecss.com">ERVIN JAMES VILLEGAS</a>
      </div>
    </div>
  </footer>


        
  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>

  </body>
</html>
<!DOCTYPE html>
<html lang="en">
<head>

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Starter Template - Materialize</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Software Testing</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="app.html">LOG OUT</a></li>
      </ul>

      
  </div>

  